@import 'shared.scss';

$gridGap: 10px;

$colorRedDark: rgb(80,0,0);
$colorRed: red;
$colorOrange: orange;
$colorYellow: yellow;

$colorBlueDark: black;
$colorBlue: blue;
$colorBlueLight: deepskyblue;
$colorBlueLighter: lightskyblue;

$colorGreenDark: darkgreen;
$colorGreen: green;
$colorGreenLight: mediumseagreen;
$colorGreenLighter: springgreen;
// $colorGreenLighter: rgb(200,255,200);

/* COLORGRID */
.colorGrid {
  box-sizing: border-box;

  padding: $gridGap;
  width: 100vh;
  height: 100vh;

  display: grid;
  gap: $gridGap;
  grid-template-columns: [start] 1fr 1fr 1fr 1fr [mid] 1fr 1fr 1fr 1fr [end];
  grid-template-rows: [start] 1fr 1fr 1fr 1fr [mid] 1fr 1fr 1fr 1fr [end];

  background: white;

  div {
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    // back-=round-color: rgba(0,0,0,0);
    // @include transitionDurationOverride(500ms, background-color);
  }
}

/* RED */
.redDark {
  background-color: $colorRedDark;
  &:hover {
    background-color: $colorYellow;
  }
}
.red {
  background-color: $colorRed;
  &:hover {
    background-color: $colorOrange;
  }
}
.orange {
  background-color: $colorOrange;
  &:hover {
    background-color: $colorRed;
  }
}
.yellow {
  background-color: $colorYellow;
  &:hover {
    background-color: $colorRedDark;
  }
}

/* BLUE */
.blueLighter {
  background-color: $colorBlueLighter;
  &:hover {
    background-color: $colorBlueDark;
  }
}
.blueLight {
  background-color: $colorBlueLight;
  &:hover {
    background-color: $colorBlue;
  }
}
.blue {
  background-color: $colorBlue;
  &:hover {
    background-color: $colorBlueLight;
  }
}
.blueDark {
  background-color: $colorBlueDark;
  &:hover {
    background-color: $colorBlueLighter;
  }
}

/* GREEN */
.greenLighter {
  background-color: $colorGreenLighter;
  &:hover {
    background-color: $colorGreenDark;
  }
}
.greenLight {
  background-color: $colorGreenLight;
  &:hover {
    background-color: $colorGreen;
  }
}
.green {
  background-color: $colorGreen;
  &:hover {
    background-color: $colorGreenLight;
  }
}
.greenDark {
  background-color: $colorGreenDark;
  &:hover {
    background-color: $colorGreenLighter;
  }
}
